/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

/* LAYOUT */
html, body {
  width: 100%;
  height: 100%;
}

.viewport {
  box-sizing: content-box;
  padding: 0;
}

.btn {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  height: 10%;
  display: flex;
  background-color: white;
  overflow: hidden;
}
header .logo {
  width: 10%;
  height: 100%;
}

main {
  width: 82.5%;
  height: 82.5%;
  margin: 0 auto;
  display: grid;
  grid: 1fr 1fr/1fr 1fr;
}
main .left {
  grid-area: 1/1/3/2;
}
main .right {
  grid-column: 2/3;
}
main .bg-img {
  z-index: 0;
}
main .heading {
  z-index: 1;
  display: flex;
  align-items: center;
}
main .heading i {
  margin: 0 3px;
}
main h2 {
  margin-bottom: 20px;
}
main .form-area {
  grid-row: 1/2;
  bottom: 0;
}
main .illustration {
  grid-row: 2/3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
main .illustration .wrapper {
  width: 25%;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
main .illustration .wrapper img {
  width: 90px;
  height: 90px;
}
main .illustration .wrapper .up, main .illustration .wrapper .down {
  position: relative;
}
main .illustration .wrapper .up {
  top: 10px;
}
main .illustration .wrapper .down {
  bottom: 10px;
}
main .arrow-btn {
  display: none;
  position: absolute;
}
main .section {
  width: 100%;
  height: 100%;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
footer .social-media {
  width: 25%;
  height: 100%;
}
footer .social-media a {
  position: relative;
  height: 64px;
  width: 64px;
}
footer .social-media a i {
  position: absolute;
  top: 50%;
  transform: translateY(-75%);
}

@media screen and (max-width: 511px) {
  .btn {
    border-radius: 50%;
  }

  header .logo {
    width: 90px;
    margin: 0 auto;
  }

  main {
    position: relative;
    width: 100%;
    height: 90%;
    grid: 1fr 1fr/1fr;
  }
  main .section {
    padding: 20px;
  }
  main .left, main .right {
    grid-column: 1/2;
  }
  main .bg-img {
    grid-row: 1/3;
  }
  main .heading {
    grid-row: 1/2;
  }
  main .btn {
    position: absolute;
    width: 64px;
    height: 64px;
  }
  main .arrow-btn {
    z-index: 2;
    grid-column: 1/2;
    grid-row: 2/3;
    right: 0;
    margin-right: 20px;
    bottom: 80px;
    display: inline-block;
    transform: rotate(-90deg);
    transition: all 1000ms ease-in-out;
  }
  main .arrowRotate {
    transform: rotate(90deg);
  }
  main .form-area {
    grid-row: 1;
    bottom: 5%;
  }
  main .illustration {
    grid-row: 2;
    z-index: 1;
    justify-content: center;
    margin: 0 auto;
    border-radius: 2px;
    width: 85%;
    height: 81%;
    bottom: 10%;
  }
  main .illustration .wrapper {
    width: 33%;
  }
  main .illustration .wrapper .up {
    top: -10px;
  }
  main .illustration #fries img {
    order: 1;
  }
  main .illustration #fries p {
    order: 2;
  }
  main .illustration #pizza img {
    order: 1;
  }
  main .illustration #pizza p {
    order: 2;
  }
  main .move-down {
    transform: translateY(100%);
  }

  footer .social-media {
    align-self: flex-start;
    flex-direction: column;
    width: 64px;
    height: 252px;
    bottom: 252px;
  }
  footer .social-media a {
    margin-bottom: 20px;
  }
  footer .social-media a i {
    position: static;
    top: 0%;
    transform: translateY(0%);
  }
}
@media screen and (max-width: 411px) {
  main .btn {
    width: 50px;
    height: 50px;
  }
  main .arrow-btn {
    bottom: 66px;
  }

  footer .social-media {
    width: 50px;
    height: 210px;
    bottom: 210px;
  }
  footer .social-media a {
    width: 50px;
    height: 50px;
  }
}
.logo {
  display: inline-block;
  background-image: url("imgs/logo-restaurant.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.2);
}

main {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
main .bg-img {
  background-image: url("imgs/girl-eating.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(30%) contrast(90%) saturate(70%);
}

.social-media {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.social-media a {
  background-color: white;
}

/* FONTS */
:root {
  font-family: "Rubik", sans-serif;
  color: #009CBF;
  text-align: center;
  font-weight: 200;
}

main .heading {
  text-transform: uppercase;
  color: white;
}
main h1, main h2 {
  font-weight: 400;
  font-size: 1rem;
}
main span {
  color: #F9E489;
  font-size: 5rem;
  width: 100%;
  display: inline-block;
  font-weight: 700;
  font-family: "Sigmar One", cursive;
  line-height: 100%;
  padding: 10px 0;
}
main .illustration {
  color: #232323;
  font-size: 0.7rem;
}

footer .social-media a {
  color: #009CBF;
  font-size: 1.65rem;
}
footer .footer-note {
  font-size: 0.75rem;
}

@media screen and (max-width: 511px) {
  :root {
    font-size: 17px;
    color: white;
  }

  main .illustration {
    color: white;
  }

  footer .social-media a {
    font-size: 2rem;
  }
  footer .footer-note {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 411px) {
  :root {
    font-size: 12px;
  }
}
/* IMPORTED ELEMENTS */
.demo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1350ms cubic-bezier(0.8, 0, 0.3, 1);
}

.arrow-btn .arrow {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  left: -2px;
}
.arrow-btn .arrow.left-arrow {
  transform: scaleX(-1);
}
.arrow-btn .arrow i {
  display: block;
  position: absolute;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
}
.arrow-btn .arrow i:before, .arrow-btn .arrow i:after {
  content: "";
  width: 10px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: white;
  margin: -1px 0 0 -5px;
  display: block;
  transform-origin: 9px 50%;
}
.arrow-btn .arrow i:before {
  transform: rotate(-40deg);
}
.arrow-btn .arrow i:after {
  transform: rotate(40deg);
}
.arrow-btn .arrow:before, .arrow-btn .arrow:after {
  content: "";
  display: block;
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.16);
}
.arrow-btn .arrow svg {
  width: 65px;
  height: 65px;
  display: block;
  position: relative;
  z-index: 1;
  color: white;
  stroke-width: 2px;
  stroke-dashoffset: 126;
  stroke-dasharray: 126 126 0;
  transform: rotate(0deg);
  right: 1px;
  bottom: 1px;
}
.arrow-btn .arrow.animate svg {
  animation: stroke 1s ease forwards 0.3s;
}
.arrow-btn .arrow.animate i {
  animation: arrow 1.6s ease forwards;
}
.arrow-btn .arrow.animate i:before {
  animation: arrowUp 1.6s ease forwards;
}
.arrow-btn .arrow.animate i:after {
  animation: arrowDown 1.6s ease forwards;
}

@keyframes stroke {
  52% {
    transform: rotate(-180deg);
    stroke-dashoffset: 0;
  }
  52.1% {
    transform: rotate(-360deg);
    stroke-dashoffset: 0;
  }
  100% {
    transform: rotate(-180deg);
    stroke-dashoffset: 126;
  }
}
@keyframes arrow {
  0%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  23% {
    transform: translateX(17px);
    opacity: 1;
  }
  24%, 80% {
    transform: translateX(-22px);
    opacity: 0;
  }
  81% {
    opacity: 1;
    transform: translateX(-22px);
  }
}
@keyframes arrowUp {
  0%, 100% {
    transform: rotate(-40deg) scaleX(1);
  }
  20%, 80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}
@keyframes arrowDown {
  0%, 100% {
    transform: rotate(40deg) scaleX(1);
  }
  20%, 80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}
.form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.form-area a {
  color: inherit;
}
.form-area .uppercase {
  text-transform: uppercase;
}
.form-area .form {
  width: 100%;
}
.form-area .btn-form {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  transform: translateX(25%);
}
.form-area .btn--primary {
  background: #009CBF;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 6px 20px;
}
.form-area .btn--primary:hover {
  background: #218ea6;
}
.form-area .btn--primary:active {
  background: #218ea6;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.form-area .btn--inside {
  margin-left: -96px;
}
.form-area .form__field {
  width: 360px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 10px 7px;
  font-size: 0.9rem;
  border-radius: 2px;
}
.form-area #form-field {
  width: 90%;
  height: 43px;
  left: 0;
}

@media screen and (max-width: 411px) {
  .arrow-btn .arrow, .arrow-btn .arrow svg {
    width: 50px;
    height: 50px;
  }
}
/* ANIMATIONS */
@media screen and (max-width: 511px) {
  main .move-to-left {
    transform: translateX(-100vw);
  }
  main .move-to-right {
    transform: translateX(100vw);
  }
  main .move-to-top {
    transform: translateY(-100vh);
  }
  main .move-to-bottom {
    transform: translateY(100vh);
  }

  /* TRANSITIONS */
  main .heading {
    transition: transform 1400ms ease;
  }
  main .form-area {
    transition: transform 775ms ease;
  }
  main .illustration {
    transition: transform 1000ms ease;
  }
  main .illustration #chicken {
    transition: transform 1000ms ease;
  }
  main .illustration #fries {
    transition: transform 1000ms ease;
  }
  main .illustration #link {
    transition: transform 1000ms ease;
  }
  main .illustration #pizza {
    transition: transform 1000ms ease;
  }
  main .illustration #noodles {
    transition: transform 1000ms ease;
  }

  footer #facebook {
    transition: transform 1000ms ease;
  }
  footer #instagram {
    transition: transform 1000ms ease;
  }
  footer #twitter {
    transition: transform 1000ms ease;
  }
}

/*# sourceMappingURL=main.css.map */
